{% extends 'base.html' %}

{% block body %}
      <h2>IDR Rates</h2>
      <hr>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Code</th>
        <th>Date</th>
        <th>Name</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
    {% for data in rates %}
      <tr>
        <td>{{ data['code']}}</td>
        <td>{{ data['date']}}</td>
        <td>{{ data['name']}}</td>
        <td>{{ data['inverseRate']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}